.build/workspace-state.json
.build/repositories/Alamofire-63cd6d99/config
.build/repositories/Alamofire-63cd6d99/description
.build/repositories/Alamofire-63cd6d99/HEAD
.build/repositories/Alamofire-63cd6d99/packed-refs
.build/repositories/Alamofire-63cd6d99/hooks/applypatch-msg.sample
.build/repositories/Alamofire-63cd6d99/hooks/commit-msg.sample
.build/repositories/Alamofire-63cd6d99/hooks/fsmonitor-watchman.sample
.build/repositories/Alamofire-63cd6d99/hooks/post-update.sample
.build/repositories/Alamofire-63cd6d99/hooks/pre-applypatch.sample
.build/repositories/Alamofire-63cd6d99/hooks/pre-commit.sample
.build/repositories/Alamofire-63cd6d99/hooks/pre-merge-commit.sample
.build/repositories/Alamofire-63cd6d99/hooks/pre-push.sample
.build/repositories/Alamofire-63cd6d99/hooks/pre-rebase.sample
.build/repositories/Alamofire-63cd6d99/hooks/pre-receive.sample
.build/repositories/Alamofire-63cd6d99/hooks/prepare-commit-msg.sample
.build/repositories/Alamofire-63cd6d99/hooks/push-to-checkout.sample
.build/repositories/Alamofire-63cd6d99/hooks/update.sample
.build/repositories/Alamofire-63cd6d99/info/exclude
.build/repositories/Alamofire-63cd6d99/objects/pack/pack-391e4a16945ad048844a50b33d52f5b87b914d1f.idx
.build/repositories/Alamofire-63cd6d99/objects/pack/pack-391e4a16945ad048844a50b33d52f5b87b914d1f.pack
Package.resolved
.vscode/settings.json
